<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%= drink.name %></h2>
    <h3>Price $ <%= drink.price %></h3>
    <img src="<%= drink.image %>.jpg" alt="<%= drink.name %>" height='400px'/>
    <br>
    <a href="/drinks">Back to Drinks Menu</a>
</body>
</html>