<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: rgb(74, 99, 118);
          font-family: fantasy;
        }
        h2 {
          background-color: black;
          margin: 0;
          padding: 25px; 
          border: none; 
          font-size: 40px;
        }
        a:link {
            color: rgb(190, 143, 56);
        }
        a:visited{
            color:beige;
  
        }
        img {
            border-radius: 6px;
            border: solid black 2px;
        }
    </style>
</head>
<body>
    <!-- <h1>At foo bar</h1> -->
    <h2><%= food.name %></h2>
    <h3>Price $ <%= food.price %></h3>
    <img src="<%= food.image %>" alt="<%= food.name %>" height='400px'/>
    <br>
    <a href="/food">Back to Food Menu</a>
    <br>
    <a href="/">Go to Main Menu</a>
</body>
</html>