<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub Welcome Page</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: rgb(74, 99, 118);
          font-family: fantasy;
        }
        h1 {
          background-color: black;
          margin: 0;
          padding: 25px; 
          border: none; 
          font-size: 40px;
        }
        a:link {
            color: rgb(190, 143, 56);
        }
        a:visited{
            color:beige;
  
        }
      </style>
</head>
<body>
    <h1>Welcome to gitPub</h1>
    <a href="/drinks">Go to Drinks Menu</a>
    <br>
    <a href="/food">Go to Food Menu</a>
</body>
</html>